<!-- Browse products by merchant (users) (users#index ⇒ index view, shows all sellers/merchants) -->
<h1>All Merchants And Their Amazing Products</h1>

<% @users.each do |user| %>
<h2><%= link_to "#{user.user_name}", users_products_path(user) %></h2>
<% end %>
