/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 */


a.button {
  padding: 25px;
  text-align: justify;
  display: inline-grid;
  background-color: deepskyblue;
}

  a.button:hover{
    text-decoration: none;
    list-style-type: none;
    background-color: navy;
    border-width: thick;
  }

.errors {
  color: red;
}

div.row.column{
  font: italic bold 12px/20px Georgia, serif;
  width:100%;
  display: inline-grid;
  text-decoration: none;
  list-style-type: none;
}

h1.row.text-center, h2.row.text-center, h3.subheader{
font: italic 35px Georgia, serif;
}

div.top-bar{
  background-color: deepskyblue;
  text-decoration: none;
  list-style-type: none;
}
ul.menu{
  border-style: solid;
  font: italic bold 12px/20px Georgia, serif;
  display: inline-grid;
  padding: 20px, 40px;
  background-color: deepskyblue;
  content-align: center;
  border-color: silver;
  border-width: medium;
  margin: 10;
}

.container, .body{
  font: italic bold 12px/20px Georgia, serif;
  width: 100%;
  text-decoration: none;
  list-style-type: none;
}
